import java.util.*;
public class lesson {
public static Scanner input=new Scanner (System.in);
public static double pie(double n) {
if (n==1) {
	return 4;
}
if (n%2==0) {
return pie(n-1)-4/(2*n-1);
}
return pie(n-1)+4/(2*n-1);
}
	public static void main(String[] args) {
		System.out.println(pie(1000));

	}

}
